body{
	margin: 0 auto;
    width: 900px;
}
#score{
	border: 1px solid black;
    height: 60px;
    width: 200px;
}
#suivant{
	border: 1px solid black;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
}
#suivant div{
    display: inline-block;
    height: 30px;
    width: 33px;
    margin-right: -4px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: -5px;
}
#jeu{	
    height: 688px;
    width: 490px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 0px;
    padding-top: 5px;
}
#gauche{
	display: inline-block;
	vertical-align: bottom;
}

#droite{
	display: inline-block;
	
}
#jouer{	
    border: 1px solid black;
    border-radius: 15px;
    height: 20px;
    width: 50px;
    padding: 20px;
    position: absolute;
    top: 325px;
    left: 600px;
	background-color: rgba(0, 0, 255, 0.13);
}
.case{
	width: 100px;
    height: 100px;

    display: inline-block;
    margin-right: -5px;
    margin-left: -1px;
	margin-top: -5px;
}
.petit{
	border: 1px solid black;
	
}
.bloc{
	height:98px;
	width:98px;
	border: 1px solid black;
}
.bloc1{

	background-color:red;
}
.bloc2{
	background-color:blue;
}
.bloc3{
	background-color:green;	
}
.bloc4{
	background-color:pink;
}
.bloc5{
	background-color:gray;	
}

